.sidebar {
  width: 250px;
  height: 100vh; /* Full height */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #213557; /* Light background */
  padding: 15px;
  border-right: 1px solid #dee2e6;
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-body {
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.circle {
  width: 10px;
  height: 10px;
  background-color: green; /* Green background */
  border-radius: 50%; /* Makes the div a circle */
}
